@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bubbler+One&family=Julius+Sans+One&family=Rock+3D&family=Shadows+Into+Light&display=swap");
/************** VARIABLES *************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, .master-container {
  height: 100%;
  width: 100%;
  background: black;
}

/****************** LOADING PAGE *****************************/
#superGreen {
  position: absolute;
  top: 200px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'Bebas Neue', cursive;
  font-size: 20rem;
  font-weight: bold;
  color: white;
  z-index: 50;
}

#superGreen span {
  -webkit-transition: .3s;
  transition: .3s;
}

#superGreen span:hover {
  color: #fbff23;
}

#superGreen .intro-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-right: 10px;
  overflow: hidden;
}

#superGreen .intro-span {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slide-up {
  display: inline-block;
  color: white;
  -webkit-animation: slideUp 2s ease;
          animation: slideUp 2s ease;
}

.slide-down {
  display: inline-block;
  color: white;
  -webkit-animation: slideDown 2s ease;
          animation: slideDown 2s ease;
}

.slide-left {
  display: inline-block;
  color: white;
  -webkit-animation: slideLeft 2s ease;
          animation: slideLeft 2s ease;
}

.slide-right {
  display: inline-block;
  color: white;
  -webkit-animation: slideRight 2s ease;
          animation: slideRight 2s ease;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideUp {
  0% {
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-300px);
            transform: translateX(-300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

/******************   NAVBAR    *******************************/
.nav-bar {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: black;
  /****************** LOGO SVG ********************/
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar li {
  list-style: none;
}

.nav-bar .btn-menu {
  display: inline-block;
  border: 2px solid red;
  font-size: 2rem;
  margin-right: 25px;
  padding: 15px;
  background: black;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-bar #eQCMv7D4lf91 {
  margin-left: 100px;
  margin-top: 350px;
  padding: 10px;
  transform: scale(3.5);
  -webkit-transform: scale(3.5);
  -moz-transform: scale(3.5);
  color: white;
}

/*********************** ACCUEIL ****************************/
.home {
  height: 90vh;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /*********************** SCROLL DOWN LOGO ***************************/
}

.home .scroll-logo {
  position: absolute;
  top: 870px;
  left: 150px;
  color: white;
  font-size: 3rem;
  font-family: 'Bubbler One', sans-serif;
}

.home #arrow {
  padding-right: 5px;
  animation: arrowMouv 1.5s linear infinite alternate both;
  -webkit-animation: arrowMouv 1.5s linear infinite alternate both;
}

#titre-accueil {
  position: absolute;
  left: 50px;
  top: 300px;
}

#titre-accueil span {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 20rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: -5px;
  color: white;
}

#titre-accueil span:hover {
  color: red;
}

#ee5mzR4iXy01 {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
}

/************************** ASTRO IMG *****************************/
.astro {
  position: absolute;
  top: 500px;
  left: 1050px;
}

/************************** PARAGRAPHE SECTION *************************/
.bio {
  height: 60vh;
  width: 100%;
  background: background-color #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 400;
  /**************************** BUTTON PARAGRAPHE SECTION ********************/
}

.bio .intro, .bio .intro2 {
  position: absolute;
  display: block;
  min-height: 200px;
  width: 550px;
  padding: 50px;
  border: 5px solid white;
  border-radius: 10px;
  transition: .2s ease-out;
  -webkit-transition: .2s ease-out;
}

.bio .intro:hover, .bio .intro2:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
}

.bio .intro2 {
  color: black;
  background: white;
}

.bio .intro {
  top: 970px;
  left: 200px;
  background: rgba(255, 255, 255, 0.9);
}

.bio .intro2 {
  top: 1450px;
  left: 250px;
}

.bio #bio-btn, .bio #projet-btn {
  position: absolute;
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  left: 200px;
  border: 2px solid white;
}

.bio #bio-btn {
  top: 1300px;
}

.bio #projet-btn {
  top: 2000px;
}

/**********************  CONTACT SECTION  **************************/
.contact {
  height: 200vh;
  width: 100%;
  background: black;
}

.contact #titre-contact {
  position: absolute;
  top: 2500px;
  left: 50px;
}

.contact span {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 20rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: -5px;
  color: white;
}

.contact span:hover {
  color: red;
}

/*************************** ANIMATION ************************/
.activeRebond {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes arrowMouv {
  0% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
  }
}

@-webkit-keyframes arrowMouv {
  0% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
  }
}

.full-rocket {
  position: absolute;
  top: 50px;
  height: 400px;
  left: -350px;
  width: 181px;
  border: 3px solid transparent;
  /* ************* ROCKET DESIGN ************/
  /******************************************/
}

.full-rocket .smoke {
  position: absolute;
  min-height: 10%;
  min-width: 10%;
  left: 50%;
  top: 80%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 2px solid #01ff16;
}

.full-rocket .cloud {
  display: block;
  border-radius: 50%;
  text-align: center;
  color: black;
  font-size: 2rem;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 150px;
  left: 200px;
  background: #ff5715;
  z-index: 0;
}

.full-rocket .cloud:first-child {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(2) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(3) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(4) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(5) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(6) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(7) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(8) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(9) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(10) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(11) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket .cloud:nth-child(12) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.full-rocket #rocket-head {
  position: absolute;
  top: 11%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid black;
  border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 35;
}

.full-rocket #mini-head {
  position: absolute;
  height: 0;
  width: 0px;
  top: 1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid #374ca8;
  border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
  z-index: 40;
}

.full-rocket #rocket-middle {
  position: absolute;
  height: 280px;
  width: 85px;
  background: #374ca8;
  border-radius: 25%;
  top: 12%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 1;
  z-index: 30;
}

.full-rocket #rocket-tail {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0px;
  border-left: 29px solid transparent;
  border-right: 29px solid transparent;
  border-top: 70px solid #ffea76;
  border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
  z-index: 30;
}

.full-rocket .miniTail {
  position: absolute;
  height: 0;
  width: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 30px solid black;
  border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
}

.full-rocket #little {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 31;
}

.full-rocket #left {
  position: absolute;
  top: 83%;
  left: 38%;
  -webkit-transform: translateX(-38%);
          transform: translateX(-38%);
  z-index: 29;
}

.full-rocket #right {
  position: absolute;
  top: 83%;
  left: 62%;
  -webkit-transform: translateX(-62%);
          transform: translateX(-62%);
  z-index: 29;
}

.full-rocket .wings {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 0;
  width: 0px;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-top: 200px solid #ff5c5c;
  border-radius: 35%;
  -ms-border-radius: 35%;
  -o-border-radius: 35%;
  z-index: 29;
}

.full-rocket #leftWing {
  top: 30%;
  left: -5%;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  -webkit-transform: rotateZ(25deg);
          transform: rotateZ(25deg);
}

.full-rocket #shadowLeftWing {
  top: 33%;
  left: 5%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
  -webkit-transform: rotateZ(25deg);
          transform: rotateZ(25deg);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 150px solid black;
}

.full-rocket #rightWing {
  top: 30%;
  left: 37%;
  -webkit-transform: translateX(-37%);
          transform: translateX(-37%);
  -webkit-transform: rotateZ(-25deg);
          transform: rotateZ(-25deg);
}

.full-rocket #shadowRightWing {
  top: 33%;
  left: 38%;
  -webkit-transform: translateX(-38%);
          transform: translateX(-38%);
  -webkit-transform: rotateZ(-25deg);
          transform: rotateZ(-25deg);
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 150px solid black;
}

/****************** OFFICE DRAW *******************/
.landing {
  position: relative;
  height: 90vh;
  width: 100%;
  background: lightblue;
}

.container-office {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: pink;
}

.office {
  display: block;
  position: relative;
  height: 700px;
  width: 850px;
  background-color: pink;
}

.office #desk {
  position: absolute;
  top: 400px;
  left: 100px;
  height: 250px;
  width: 700px;
  background: black;
}

.office #desk #fond-vert {
  position: absolute;
  height: 225px;
  width: 530px;
  top: 25px;
  left: 150px;
  background: pink;
}

.office #desk .bloc-tiroires {
  position: absolute;
  top: 9px;
}

.office #desk .tiroires {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 130px;
  background: brown;
  margin: 10px;
  margin-top: 15px;
}

.office #desk .po {
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 10px;
  width: 30px;
  background: black;
  border-radius: 5px;
}

.office .mug {
  position: absolute;
  top: -50px;
  left: 620px;
  height: 50px;
  width: 50px;
  background: blue;
  border-radius: 0px 0px 15px 15px;
  z-index: 3;
}

.office .mug .mug-shadow {
  position: absolute;
  top: 0px;
  left: 25px;
  height: 50px;
  width: 25px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0 0 15px 2px;
  z-index: 8;
}

.office .mug .anse {
  position: absolute;
  top: 15px;
  left: 45px;
  height: 10px;
  width: 20px;
  background: blue;
  border-radius: 10px 10px 0 0;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  z-index: 1;
}

.office .mug .anse .rond1 {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 5px;
  width: 10px;
  background: pink;
  border-radius: 5px 5px 0 0;
  z-index: 5;
}

.office .mug .pacman-rose {
  position: absolute;
  top: 2px;
  left: 5px;
  z-index: 6;
}

.office .mug .mug-smoke {
  position: absolute;
  top: -75px;
  left: 5px;
  height: 70px;
  width: 30px;
  border-radius: 5px;
  z-index: 0;
}

.office .mug .mug-smoke .white-smoke {
  position: absolute;
  height: 15px;
  width: 40px;
  background: white;
  border-radius: 20px;
  -webkit-animation: smokeMouve2 3s linear infinite alternate;
          animation: smokeMouve2 3s linear infinite alternate;
}

.office .mug .mug-smoke #white1 {
  position: absolute;
  top: 54px;
  left: 10px;
  width: 30px;
  z-index: 2;
}

.office .mug .mug-smoke #white2 {
  position: absolute;
  top: 42px;
  width: 50px;
  left: -2px;
}

.office .mug .mug-smoke #white3 {
  position: absolute;
  top: 14px;
  left: -10px;
  width: 70px;
}

.office .mug .mug-smoke #white4 {
  position: absolute;
  top: 0px;
  left: -15px;
  width: 80px;
}

.office .mug .mug-smoke #white5 {
  position: absolute;
  top: 28px;
  left: 5px;
}

.office .mug .mug-smoke .green-smoke {
  position: absolute;
  height: 15px;
  width: 40px;
  background: pink;
  border-radius: 20px;
  -webkit-animation: smokeMouve 1s linear infinite alternate;
          animation: smokeMouve 1s linear infinite alternate;
}

.office .mug .mug-smoke #green1 {
  position: absolute;
  top: 42px;
  left: 28px;
}

.office .mug .mug-smoke #green2 {
  position: absolute;
  top: 42px;
  left: -22px;
}

.office .mug .mug-smoke #green3 {
  position: absolute;
  top: 15px;
  left: -28px;
}

.office .mug .mug-smoke #green4 {
  position: absolute;
  top: 15px;
  left: 22px;
}

.office #pokeball {
  position: absolute;
  top: -82px;
  left: 210px;
  z-index: 3;
}

.office #batman {
  position: absolute;
  top: -48px;
  left: 555px;
  z-index: 2;
}

.office .lampe {
  position: absolute;
  top: 0px;
  left: -410px;
}

.office .lampe .lampe-circle1 {
  position: absolute;
  top: -163px;
  left: 395px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: yellow;
  z-index: 2;
}

.office .lampe .lampe-circle2 {
  position: absolute;
  top: -170px;
  left: 388px;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: #ed7464;
  z-index: 1;
}

.office .lampe .corp-lampe1 {
  position: absolute;
  top: -85px;
  left: 375px;
  height: 6px;
  width: 120px;
  background: black;
  -webkit-transform: rotateZ(70deg);
          transform: rotateZ(70deg);
}

.office .lampe .corp-lampe2 {
  position: absolute;
  top: -85px;
  left: 360px;
  height: 6px;
  width: 120px;
  background: black;
  -webkit-transform: rotateZ(70deg);
          transform: rotateZ(70deg);
}

.office .lampe .corp-lampe3 {
  position: absolute;
  top: -200px;
  left: 368px;
  height: 6px;
  width: 100px;
  background: black;
  -webkit-transform: rotateZ(120deg);
          transform: rotateZ(120deg);
}

.office .lampe .corp-lampe4 {
  position: absolute;
  top: -200px;
  left: 388px;
  height: 6px;
  width: 90px;
  background: black;
  -webkit-transform: rotateZ(120deg);
          transform: rotateZ(120deg);
}

.office .lampe .pied-lampe2 {
  position: absolute;
  top: -7px;
  left: 415px;
  height: 7px;
  width: 70px;
  border-radius: 10px;
  background: #ed7464;
  z-index: 1;
}

.office .lampe .pied-lampe {
  position: absolute;
  top: -40px;
  left: 400px;
  height: 50px;
  width: 100px;
  background: yellow;
  border-radius: 50px 50px 0 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

.office .lampe .head-lampe1 {
  position: absolute;
  top: -300px;
  left: 420px;
  border-bottom: 90px solid #ed7464;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  height: 0;
  width: 100px;
  -webkit-transform: rotateZ(-55deg);
          transform: rotateZ(-55deg);
  z-index: 1;
}

.office .lampe .head-lampe2 {
  position: absolute;
  top: -237px;
  left: 453px;
  border-bottom: 10px solid yellow;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  width: 100px;
  -webkit-transform: rotateZ(-55deg);
          transform: rotateZ(-55deg);
  z-index: 1;
}

.office .lampe .head-lampe3 {
  position: absolute;
  top: -250px;
  left: 482px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #f5c72f;
  z-index: 0;
}

.office .lampe .head-shadow {
  position: absolute;
  top: -279px;
  left: 431px;
  border-bottom: 90px solid rgba(0, 0, 0, 0.4);
  border-left: 32px solid transparent;
  border-right: 0px solid transparent;
  -webkit-transform: rotateZ(-55deg);
          transform: rotateZ(-55deg);
  height: 0;
  width: 49px;
  z-index: 5;
}

.office .desk-minion {
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 5;
}

.office .plante .pot-plante {
  position: absolute;
  top: 150px;
  left: -120px;
  border-bottom: 100px solid red;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.office .computer {
  position: absolute;
  top: 0px;
  left: 120px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.office .computer .screen {
  position: absolute;
  top: -250px;
  left: 75px;
  height: 200px;
  width: 300px;
  background: #969696;
  border-radius: 15px;
  z-index: 1;
}

.office .computer .screen4 {
  position: absolute;
  top: 8px;
  left: 127px;
  height: 10px;
  width: 50px;
  background: black;
  border-radius: 5px;
}

.office .computer .screen3 {
  position: absolute;
  top: -80px;
  left: 75px;
  height: 30px;
  width: 300px;
  background: cornflowerblue;
  border-radius: 0px 0px 10px 10px;
  z-index: 3;
}

.office .computer .screen2 {
  position: absolute;
  top: -238px;
  left: 90px;
  height: 160px;
  width: 270px;
  background: black;
  border-radius: 2px;
  z-index: 2;
}

.office .computer .screen2 .computer-game .space {
  position: absolute;
  top: 100px;
  left: 112px;
  font-size: 2.5rem;
  color: white;
  -webkit-animation: left-right 3s ease-in-out infinite alternate;
          animation: left-right 3s ease-in-out infinite alternate;
}

.office .computer .screen2 .computer-game #met {
  position: absolute;
  top: 55px;
  left: 10px;
  font-size: 2rem;
  color: white;
  -webkit-animation: metAnim 3s linear infinite;
          animation: metAnim 3s linear infinite;
  -webkit-animation-delay: -.5s;
          animation-delay: -.5s;
}

.office .computer .screen2 .computer-game #met2 {
  position: absolute;
  top: 55px;
  left: 180px;
  font-size: 2rem;
  color: white;
  -webkit-animation: metAnim 3s linear infinite;
          animation: metAnim 3s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
}

.office .computer .screen2 .computer-game #met3 {
  position: absolute;
  top: 55px;
  left: 100px;
  font-size: 2rem;
  color: white;
  -webkit-animation: metAnim 3s linear infinite;
          animation: metAnim 3s linear infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  opacity: 0;
}

@-webkit-keyframes left-right {
  0% {
    -webkit-transform: rotateZ(-90deg) translateY(-110px);
            transform: rotateZ(-90deg) translateY(-110px);
  }
  100% {
    -webkit-transform: rotateZ(-90deg) translateY(110px);
            transform: rotateZ(-90deg) translateY(110px);
  }
}

@keyframes left-right {
  0% {
    -webkit-transform: rotateZ(-90deg) translateY(-110px);
            transform: rotateZ(-90deg) translateY(-110px);
  }
  100% {
    -webkit-transform: rotateZ(-90deg) translateY(110px);
            transform: rotateZ(-90deg) translateY(110px);
  }
}

@-webkit-keyframes metAnim {
  0% {
    -webkit-transform: rotateZ(-50deg) translateX(105px) translateY(-90px);
            transform: rotateZ(-50deg) translateX(105px) translateY(-90px);
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateZ(-50deg) translateX(-105px) translateY(90px);
            transform: rotateZ(-50deg) translateX(-105px) translateY(90px);
    opacity: 0;
  }
}

@keyframes metAnim {
  0% {
    -webkit-transform: rotateZ(-50deg) translateX(105px) translateY(-90px);
            transform: rotateZ(-50deg) translateX(105px) translateY(-90px);
    opacity: 0;
  }
  29% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateZ(-50deg) translateX(-105px) translateY(90px);
            transform: rotateZ(-50deg) translateX(-105px) translateY(90px);
    opacity: 0;
  }
}

.office .computer .pied {
  position: absolute;
  top: -50px;
  left: 178px;
  border-bottom: 50px solid #969696;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 100px;
}

.office .computer .pied .pied-pied {
  position: absolute;
  top: 40px;
  left: -30px;
  height: 10px;
  width: 110px;
  border-radius: 10px;
  background: cornflowerblue;
}

.office .computer .pied .tri-pied {
  position: absolute;
  left: -38px;
  width: 0;
  height: 0;
  border-bottom: 50px solid rgba(0, 0, 0, 0.12);
  border-left: 100px solid transparent;
  -webkit-transform: skew(26deg);
          transform: skew(26deg);
}

.office .pot-crayon {
  z-index: 1;
}

.office .pot-crayon .base-pot {
  position: absolute;
  top: -50px;
  left: 550px;
  border-bottom: 50px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 50px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  z-index: 1;
}

.office .pot-crayon .pied-pot {
  position: absolute;
  top: -50px;
  left: 550px;
  border-bottom: 7px solid yellow;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  height: 0;
  width: 50px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  z-index: 1;
}

.office .pot-crayon .head-pot {
  position: absolute;
  top: -7px;
  left: 558px;
  border-bottom: 7px solid yellow;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  height: 0;
  width: 34px;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  z-index: 1;
}

.office .pot-crayon .crayon1 .corp-crayon1 {
  position: absolute;
  top: -70px;
  left: 560px;
  height: 50px;
  width: 8px;
  background: #ffbd00;
}

.office .pot-crayon .crayon1 .corp-crayon1 .pointe1 {
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid #d5c69a;
}

.office .pot-crayon .crayon1 .corp-crayon1 .pointe1 .mine1 {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid black;
}

.office .pot-crayon .crayon1 .corp-crayon1 .shadow-crayon1 {
  position: absolute;
  top: 0px;
  left: 4px;
  height: 50px;
  width: 4px;
  background: rgba(0, 0, 0, 0.2);
}

.office .pot-crayon .crayon1 .corp-crayon2 {
  position: absolute;
  top: -70px;
  left: 588px;
  height: 50px;
  width: 8px;
  background: #ffbd00;
  -webkit-transform: rotateZ(10deg);
          transform: rotateZ(10deg);
}

.office .pot-crayon .crayon1 .corp-crayon2 .pointe2 {
  position: absolute;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 10px solid #d5c69a;
}

.office .pot-crayon .crayon1 .corp-crayon2 .pointe2 .mine2 {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 0;
  height: 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 4px solid black;
}

.office .pot-crayon .crayon1 .corp-crayon2 .shadow-crayon2 {
  position: absolute;
  top: 0px;
  left: 4px;
  height: 50px;
  width: 4px;
  background: rgba(0, 0, 0, 0.2);
}
/*# sourceMappingURL=style.css.map */