@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bubbler+One&family=Julius+Sans+One&family=Rock+3D&family=Shadows+Into+Light&display=swap");
/************** VARIABLES *************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, .master-container {
  height: 100%;
  width: 100%;
}

/******************   NAVBAR    *******************************/
.nav-bar {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  /****************** LOGO SVG ********************/
}

.nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar li {
  list-style: none;
}

.nav-bar .btn-menu {
  display: inline-block;
  border: 2px solid red;
  font-size: 2rem;
  margin-right: 25px;
  padding: 15px;
  background: black;
  position: relative;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-bar #eQCMv7D4lf91 {
  margin-left: 100px;
  margin-top: 350px;
  padding: 10px;
  -webkit-transform: scale(3.5);
          transform: scale(3.5);
  color: white;
}

/*********************** ACCUEIL ****************************/
.home {
  height: 100vh;
  width: 100%;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*********************** SCROLL DOWN LOGO ***************************/
}

.home .scroll-logo {
  position: absolute;
  top: 870px;
  left: 150px;
  color: white;
  font-size: 3rem;
  font-family: 'Bubbler One', sans-serif;
}

.home #arrow {
  padding-right: 5px;
  animation: arrowMouv 1.5s linear infinite alternate both;
  -webkit-animation: arrowMouv 1.5s linear infinite alternate both;
}

#titre-accueil {
  position: absolute;
  left: 50px;
  top: 300px;
}

#titre-accueil span {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 20rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: -5px;
  color: white;
}

#titre-accueil span:hover {
  color: red;
}

/************************** ASTRO IMG *****************************/
.astro {
  position: absolute;
  top: 750px;
  left: 850px;
  animation: astroMouv 5s linear infinite alternate;
  -webkit-animation: astroMouv 5s linear infinite alternate;
}

/************************** PARAGRAPHE SECTION *************************/
.bio {
  height: 60vh;
  width: 100%;
  background: black;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3rem;
  color: white;
  font-weight: 400;
  /**************************** BUTTON PARAGRAPHE SECTION ********************/
}

.bio .intro, .bio .intro2 {
  position: absolute;
  display: block;
  min-height: 200px;
  width: 550px;
  padding: 50px;
  border: 5px solid white;
  border-radius: 10px;
}

.bio .intro2 {
  color: black;
  background: white;
}

.bio .intro {
  top: 950px;
  left: 250px;
}

.bio .intro2 {
  top: 1450px;
  left: 250px;
}

.bio #bio-btn, .bio #projet-btn {
  position: absolute;
  display: block;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  left: 200px;
  border: 2px solid white;
}

.bio #bio-btn {
  top: 1300px;
}

.bio #projet-btn {
  top: 2000px;
}

/**********************  CONTACT SECTION  **************************/
.contact {
  height: 200vh;
  width: 100%;
  background: black;
}

.contact #titre-contact {
  position: absolute;
  top: 2500px;
  left: 50px;
}

.contact span {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;
  font-size: 20rem;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  letter-spacing: -5px;
  color: white;
}

.contact span:hover {
  color: red;
}

/*************************** ANIMATION ************************/
.activeRebond {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes arrowMouv {
  0% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
  }
}

@-webkit-keyframes arrowMouv {
  0% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
  }
}

@keyframes astroMouv {
  from {
    transform: translateY(-20px);
    transform: translateX(-5px);
    -webkit-transform: translateY(-20px);
    -webkit-transform: translateX(-5px);
    -ms-transform: translateY(-20px);
    -ms-transform: translateX(-5px);
  }
  to {
    transform: translateX(-10px);
    transform: translateY(30px);
    -webkit-transform: translateX(-10px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateX(-10px);
    -ms-transform: translateY(30px);
  }
}

@-webkit-keyframes astroMouv {
  from {
    transform: translateY(-20px);
    transform: translateX(-5px);
    -webkit-transform: translateY(-20px);
    -webkit-transform: translateX(-5px);
    -ms-transform: translateY(-20px);
    -ms-transform: translateX(-5px);
  }
  to {
    transform: translateX(-10px);
    transform: translateY(30px);
    -webkit-transform: translateX(-10px);
    -webkit-transform: translateY(30px);
    -ms-transform: translateX(-10px);
    -ms-transform: translateY(30px);
  }
}
/*# sourceMappingURL=style.css.map */