@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Lobster+Two&family=Montserrat:wght@100&family=Press+Start+2P&family=Zen+Kurenaido&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    width: 100%;
}
section {
    height: 110vh;
    width: 100%;
    text-align: center;

}
section h1 {
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
    color: white;
    padding-top: 50px;
}
        /************** Up nav bar  ****************/
.up-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    font-family: 'Comfortaa', cursive;
    background:transparent;
}
.up-nav h1 {
    color: white;
    font-size: 2rem;
    padding: 3px;
    margin: 2px;
    margin-left: 25px;
}
.up-nav ul {
    display: flex;
    list-style: none;
}
.up-nav ul li {
    font-size: 1.3rem;
    margin-right: 100px;
}
.up-nav ul li a {
    text-decoration: none;
    color:white;
}

        /* **************** Right nav bar *************  */
#right-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 160px;
    left: -160px;
    background:rgba(255, 255, 255, 0.1);
    text-align: center;
    list-style: none;
    transition: 0.5s ease-out;
    z-index: 1;
}

#right-nav ul {
    font-family: 'Comfortaa', cursive;
    font-size: 1.5rem;
    color: azure;
    list-style: none;
}

#right-nav ul li {
    margin: 20px 0;
    margin-top: 30px;
    padding: 5px;
}
#right-nav ul li:hover {
    background: #3f0d12;
}
#right-nav ul li a {
    text-decoration: none;
    color: azure;
}
        /************** Show boutton  ***************/
#btn-rightNav {
    position: absolute;
    top: 40%;
    left: 125px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 11px;
    height: 80px;
    width: 80px;
    background: red;
    opacity: 0.5;
    font-size: 3rem;
    border-radius: 50%;
    z-index: 0;
    cursor: pointer;
    transition: 0.5s ease-out;
    border: 1px solid black;
}
#rigft-remove-btn {
    position: absolute;
    top: 40%;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
    background:red;
    opacity: 0.7;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.7s ease-out;
}
#rigft-remove-btn:hover {
    opacity: 1;
}
#btn-rightNav:hover {
    opacity: 1;
}
        /************* Active stuff **************/
#right-nav.active {
    left: 0;
}
#right-nav.active #btn-rightNav{
    left: -100px;
}
#right-nav.active #rigft-remove-btn {
    left: 170px;
}
/********************* Btn UgoWebSite Design ***********/
.perso {
    position: absolute;
    top: 1200px;
    left: 500px;
    height: 450px;
    width: 300px;
    border: 1px solid black;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    transition: ease-out 0.2s;
    border-radius: 10px;
}
.perso:hover {
    background: rgba(255, 255, 255, .5);
    transform: translateY(-4px);
}
.hp { 
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    flex-wrap:nowrap;
    margin-top: 50px;

}
.hp span i {
    font-size: 1.2rem;
    padding: 8px;
    margin: 2px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    text-align: center;
}
.string {
    margin: 2px;
    padding: 5px;
    font-size: 1.9rem;
    border: 1px solid black;
    border-radius: 10px;
    background: blue;
    z-index: 2;
    position: relative;
}

/************ Button fonction **********************/


.hp span i:hover {
    transform: scale(1.2);
    color: red;
}
.edit {
    margin-left: 3px;
}
.boutn {
    position: absolute;
    top: 60px;
    left: 65px;
    z-index: 0;
    transition: .25s cubic-bezier(0.25, 0, 0, 1);
}

.active {
 z-index: 3;
}
.plus_anim {
    top: 60px;
    left: 25px;
}
.minus_anim {
    top: 20px;
    left: 30px;
}
.full_anim {        
    top: 10px;
    left: 68px;  
}

/* ************************* Introduction ************************** */
.presentation {
    position: absolute;
     height: 800px;
     width: 500px; 
     top: 100px;
     left: 2000px;
     color: white;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     font-weight: bold;
 }
 .presentation p {
     font-size: 2.5rem;
     padding: 30px;
 }
 .presentation h1 {
     font-family: 'Press Start 2P', cursive;
     text-shadow: 0px 0px 15px #5c0b1d;
     font-size: 5rem;
 }
 
        /************* section ******************* */

#home {
    background: url("./backgroundIntro.png") no-repeat fixed;
    background-size: cover;
}
#about {
    background: url('./redlight.jpg') no-repeat;
    background-size: cover
}
/* ********************** Scroll Animation ********************* */
.anim {
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    height: 150vh;
    position: relative;
    overflow: hidden;
}
#marion{
    position: absolute;
    height: 100px;
    top: 50%;
    left: 0%;
}
/*********************  SPACE PARALLAX ***********************/
.space-background {
    font-family: 'Comfortaa', cursive;
    background: url('./2474215.png') no-repeat;
    background-size: cover;
    height:  110vh;
}
.space-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#alien {
    position: absolute;
    top: 2%;
    left: 25%;
}
#sun {
    position: absolute;
    top: 2%;
    left: 50%;
}
#rocket {
    position: absolute;
    top: 8%;
    left: 75%;
    transform: rotate(-90deg);
}
#random {
    position: absolute;
    top: 75%;
    left: 20%;
}
#violet {
    position: absolute;
    top: 65%;
    left: 50%;
}
#pink {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: rotate(-40deg);
}
#ice {
    position: absolute;
    top: 5%;
    left: 5%;
}
#blue {
    position: absolute;
    top: 10%;
    left: 35%;
}
#saturne {
    position: absolute;
    top: 55%;
    left: 70%;
}
#comet {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: rotate(30deg);
}
.space-container h2 {
    position: relative;
    z-index: 2;
    font-size: 5em;
    color: white;
    letter-spacing: 20px;
    text-shadow: 0px 0px 5px #f14cc0;
    line-height: 50px;
}
.space-container h2 span {
    font-size: 3rem;
}